SHARED DATA "Data\\TuneStatus.dll.png"
FASTACCESS DATA "Data\\TuneStatus.png"
FASTACCESS_OFF DATA "Data\\TuneStatusOff.png"
FASTACCESS_ON DATA "Data\\TuneStatusOn.png"
EN_CONST DATA "Languages\\EN\\Const.lng"
EN_SETTINGSFRM DATA "Languages\\EN\\TSettingsForm.lng"
EN_USERTUNEEXCEPTIONFRM DATA "Languages\\EN\\TUserTuneExceptionForm.lng"
PL_CONST DATA "Languages\\PL\\Const.lng"
PL_SETTINGSFRM DATA "Languages\\PL\\TSettingsForm.lng"
PL_USERTUNEEXCEPTIONFRM DATA "Languages\\PL\\TUserTuneExceptionForm.lng"
